h1{
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #131314;
    display: flex;
}

h2{
    color: #131314;
}

hr{
    margin-top: 12.5px;
    border: 1px solid #131314;
    width: 100%;
    height: 0px;
}
.nav{
    z-index: 2;
}

button{
    background: none;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.1);
}

.sidebar{
    display: flex;
    align-content: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #f8f9fa;
    height: 100vh;
    width: 90px;
    z-index: 1;
    position: fixed;
    border-radius: 0px 15px 15px 0;
    transition: 0.3s;
    padding: 12.5px;
    box-sizing: border-box;
}

.sidebar:hover {
    width: 262.5px;
}


@media screen and (max-width: 850px){
    .sidebar{
    height: 65px;
    width: 65px;
    border-radius: 19.5px;
    background: #131314;
    margin-left: 12.5px;
    margin-top: 12.5px;
    padding: 0px;
    }

    .sidebar:hover{
        height: 100vh;
        width: 262.5px;
        border-radius: 15px;
        background: #f8f9fa;
        margin-left: 0px;
        margin-top: 0px;
        padding: 12.5px;
        }
     
        .bitmoji {
            margin-left: 0vw;
            margin-right: 0vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .bitmoji img{
            height: 670px;
        }

}

.sidebar img{
    height: 65px;
    border-radius: 30%;
}

.logo-text{
    display: flex;
    align-items: center;
    height: 65px;
}

.logo-text h1{
    padding-left: 12.6px;
    color: #131314;
    width: 250px;
}

.divhome{
    display: flex;
    width: 250px;
    padding-left: 10px;
    align-items: center;
}

.divcv{
    display: flex;
    width: 250px;
    padding-left: 10px;
    align-items: center;
}

.divparcours{
    display: flex;
    width: 250px;
    padding-left: 10px;
    align-items: center;
}

.divprojets{
    display: flex;
    width: 250px;
    padding-left: 10px;
    align-items: center;
}

.divhome h2{
    padding-left: 25.9px;
}

.divcv h2{
    padding-left: 25.9px;
}

.divparcours h2{
    padding-left: 25.9px;
}

.divprojets h2{
    padding-left: 25.9px;
}


.home{
    margin-left: 90px;
}

.home p{
    margin: 0%;
}


.quisuije h2{
    font-size: 70px;
    text-align: end;
    margin: 0%;
    background: -webkit-linear-gradient(330deg, #2f6bec,#be1ab6, #8138ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projet{
    display:flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.projetcommun{
    background-color: #2f6bec;
    flex-grow: 1;
    padding: 2rem;
    padding-left: 120px;
}

.carrousel{
    display: flex;
    overflow-x: auto;
    background: #000;
    width: 99%;
    height: 89%;
    justify-content: start;
    gap: 2rem;

}

.carrousel::-webkit-scrollbar{
    background-color: #000;
}

.carrousel::-webkit-scrollbar-thumb{
    background-color: #444746;
    border-radius: 10px;
}

.dossier{
    height: 100%;
    max-width: 400px;
    min-width: 400px;
    background-color: #444746;
    border-radius: 8px;
}

.crudpage {
    margin-left: 120px;
    padding-top: 1%;
}


.crud-container{
    color: #f8f9fa;
    margin-top: 2%;
    padding: 3px;
    padding-left: 15px;
    border-radius: 8px;
    width: 60dvw;
    background: #000;
}

.crudtittle {
    color: #f8f9fa;
}

/* Styles pour la galerie de miniatures */
.gallery {
    display: flex;
}

.thumbnail {
    margin: 10px;
    cursor: pointer;
}

.thumbnail img {
    width: 100px;
    height: auto;
}

/* Styles pour le carrousel */
.carousel {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.carousel-content {
    display: flex;
}

.slide {
    display: none;
    align-items: center;
    justify-content: center;
}

.slide img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


/* Styles pour les boutons de navigation */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 10px;

}

.next {
    right: 10px;
}


.outlislang {
    margin-top: 1%;
}

.crud-container{
    padding: 12px;
    background-color: #262727;
}
.icon-outils {
    height: 70px;
}

.vitrice{
    border-radius: 50%;
}